.order {
  padding-top: 25px;
}
.products {
  vertical-align: middle;
  background-color: initial;
  width:50%;
}

table {
  width: 70%;
  margin:auto;
}

img {
  max-width:60px;
  border-radius: 50%;
}

.titulo h1{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  color: #494949;
  margin:50px;
}

.prize {
  font-weight: bold;
  font-size: 24px;
  font-weight: 500;
}

i {
  font-size: 60px;
}