.col {
  padding: 0;
  flex-grow:0;
}

.title {
  height:40px;
}

.season {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.card {
  width: 200px;
  margin:10px;
}

.card button {
  width: 100%;
}

.card img {
  background-size: cover;
}

.card mat-card-header {
  border-bottom: 1px solid lightgray;
}

.header h1{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  color: #494949;
  margin-top: 40px;
}