<div class="titulo">
  <h1>Kits</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col" *ngFor="let product of (products$ | async)">
      <mat-card class="card">
        <img mat-card-image src="{{ product.image_url}}" alt="{{ product.name }}">
        <mat-card-content>
          <p>{{ product.name }}</p>
          <p>{{ product.season }}</p>
          <p>{{ product.prize }}€</p>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="goToKit(product)" mat-raised-button>VER DETALLE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>