<form class="form" [formGroup]="profileForm" (ngSubmit)="update()">
  <div *ngIf="this.created" class="alert alert-secondary" role="alert">
    Datos modificados correctamente!
  </div>
  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="Nombre" formControlName="name">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="Apellidos" formControlName="surnames">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="Dirección" formControlName="direction">
  </mat-form-field>
  <button mat-raised-button color="primary">Actualiza</button>
</form>