img {
  max-width:60px;
}

table td{
  vertical-align: middle;
}

.titulo h1{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  color: #494949;
  margin:50px;
}

.selected-units {
  float: left;
  width: 10%;
  padding: 4px 0 4px 0;
  background-color: #efefef;
  box-shadow: none;
  /* border: none; */
}

.text-center {
  text-align: center;
}

.btn.btn-manage-units.btn-remove-unit {
  text-align: center;
}

.btn.btn-manage-units.btn-add-unit {
  text-align: center;
}

.btn-manage-units {
  float: left;
  width: 10%;
  margin: 0 1.6666666% 0 1.66666666%;
  border: dotted 1px #a7a7a7;
  border-radius: 0px;
  padding: 5px 0 5px 0;
  background-color: #FFF;
}

.prize {
  font-weight: bold;
  font-size: 24px;
  font-weight: 500;
}