<header>
  <mat-toolbar class="toolbar">
    <button mat-button routerLink="welcome"><img src="assets/logo_katia.svg"></button>
    <button mat-button routerLink="skeins">Lana</button>
    <button mat-button routerLink="kits">Kits</button>
    <div *ngIf="!authService.isAuthenticated()">
      <button mat-button [matMenuTriggerFor]="menuLogin">Iniciar sesión</button>
      <mat-menu #menuLogin="matMenu">
        <button mat-menu-item routerLink="login">Login</button>
        <button mat-menu-item routerLink="register">Register</button>
      </mat-menu>
    </div>
    <div *ngIf="authService.isAuthenticated()">
      <button mat-button routerLink="cart">
        <i class="material-icons" matBadge="{{ shoppingCartService.totalQuantity }}" matBadgeColor="warn">
          shopping_cart
        </i>
      </button>
    </div>
    <div *ngIf="authService.isAuthenticated()">
      <button mat-button [matMenuTriggerFor]="menuLogin">
        <i class="material-icons">
          account_circle
        </i>
      </button>
      <mat-menu #menuLogin="matMenu">
        <button mat-menu-item routerLink="profile">Datos usuario</button>
        <button mat-menu-item (click)="authService.logout()">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>
<main>
  <div class="page">
    <router-outlet></router-outlet>
  </div>
</main>
<footer>
  <mat-toolbar>
    <button mat-button color="primary">
      About
    </button></mat-toolbar>
</footer>