<header>
  <mat-toolbar>
    <button mat-button routerLink="welcome">Portada</button>
    <button mat-button [matMenuTriggerFor]="menu">Productos</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Tipo 1</button>
      <button mat-menu-item>Tipo 2</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menuLogin">Iniciar sesión</button>
    <mat-menu #menuLogin="matMenu">
      <button mat-menu-item routerLink="login">Login</button>
      <button mat-menu-item routerLink="register">Register</button>
    </mat-menu>
  </mat-toolbar>
</header>
<main>
  <div class="page">
    <router-outlet></router-outlet>
  </div>
</main>
<footer>
  <mat-toolbar>
    <button mat-button color="primary">
      About
    </button></mat-toolbar>
</footer>