.toolbar{
  height: 100px;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgray;
  margin:20px;
  
}

.toolbar button{
  font-size: 20px;
  padding:20px;
}

.toolbar i{
  font-size: 40px;
}

.toolbar img{
  height: 60px;
}



