.toolbar{
  height: 120px;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding:20px;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  text-align: right;
}

.toolbar button{
  font-size: 20px;
  padding:20px;
}

.toolbar i{
  font-size: 40px;
}

.toolbar img{
  height: 60px;
}

.nav-shop {
  width: 50%;
}

.nav-tools {
  width: 45%;
  text-align: right;
}

.page {
  padding: 120px 0 100px 0;
}




