<header>

  <mat-toolbar class="toolbar">
    <div class="nav-shop">
      <button mat-button routerLink="welcome"><img src="assets/k4k.jpg"></button>
      <button mat-button routerLink="skeins">Lana</button>
      <button mat-button routerLink="kits">Kits</button>
    </div>
    <div class="nav-tools">
      <button mat-button *ngIf="!authService.isAuthenticated()" [matMenuTriggerFor]="menuLogin">Iniciar sesión</button>
      <mat-menu #menuLogin="matMenu">
        <button mat-menu-item routerLink="login">Login</button>
        <button mat-menu-item routerLink="register">Register</button>
      </mat-menu>
      <button mat-button *ngIf="authService.isAdmin()" [matMenuTriggerFor]="menuAdmin">Admin</button>
      <mat-menu #menuAdmin="matMenu">
        <button mat-menu-item routerLink="createskein">Crear lana</button>
        <button mat-menu-item routerLink="createcolor">Crear color</button>
        <button mat-menu-item routerLink="createkit">Crear kit</button>
        <button mat-menu-item routerLink="createsize">Crear talla</button>
      </mat-menu>
      <button mat-button *ngIf="authService.isAuthenticated() && !authService.isAdmin()"
        routerLink="orders">Pedidos</button>
      <button mat-button *ngIf="authService.isAdmin()" routerLink="adminorders">Pedidos</button>
      <button mat-button *ngIf="authService.isAuthenticated() && !authService.isAdmin()" routerLink="cart">
        <i class="material-icons" matBadge="{{ shoppingCartService.totalQuantity }}" matBadgeColor="warn">
          shopping_cart
        </i>
      </button>
      <ng-container *ngIf="authService.isAuthenticated()">
        <button mat-button *ngIf="authService.isAuthenticated()" [matMenuTriggerFor]="menuLogin">
          <i class="material-icons">
            account_circle
          </i>
        </button>
        <mat-menu #menuLogin="matMenu">
          <button mat-menu-item routerLink="profile">Datos usuario</button>
          <button mat-menu-item (click)="authService.logout()">Logout</button>
        </mat-menu>
      </ng-container>
    </div>
  </mat-toolbar>
</header>
<main>
  <div class="page">
    <router-outlet></router-outlet>
  </div>
</main>