<form class="form" [formGroup]="createSkeinForm" (ngSubmit)="create()">
  <div *ngIf="this.created" class="alert alert-secondary" role="alert">
    Lana creada!
  </div>
  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="Nombre" formControlName="name">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="Descripción" formControlName="description">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="Composición" formControlName="composition">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="Peso" formControlName="weight">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Largo" formControlName="large">
  </mat-form-field><br />
  <mat-form-field>
    <mat-label>Temporada</mat-label>
    <mat-select formControlName="season">
      <mat-option value="otoño-invierno">
        otoño-invierno
      </mat-option>
      <mat-option value="primavera-verano">
        primavera-verano
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="Precio" formControlName="prize">
  </mat-form-field>
  <button mat-raised-button color="primary">Añade lana</button>
</form>