<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-content>
        <img mat-card-image src="{{ product$.image_url }}" alt="{{ product$.name }}">
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-content">
      <mat-card-title>{{ product$.name }}</mat-card-title>
      <mat-card-content>
        <p>{{ product$.composition }}</p>
        <p>{{ product$.details }}</p>
        <p>
          <button (click)="removeUnit()" class="btn btn-manage-units btn-remove-unit">-</button>
          <input id="quant" type="text" class="selected-units text-center" value="{{ quantity }}">
          <button (click)="addUnit()" class="btn btn-manage-units btn-add-unit">+</button>
          <span class="prize"> {{ sizePrizes }}€</span>
        </p>
      </mat-card-content>
      <mat-form-field>
        <mat-label>Size</mat-label>
        <mat-select>
          <mat-option (click)="selectPrize(size.prize); actualSize(size)" *ngFor="let size of (sizes$ | async)">
            {{ size.size }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button
          (click)="shoppingCartService.addKitToCart(product$, this.size, quantity)">Comprar</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>