<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-card class="image">
      <mat-card-content>
        <img mat-card-image src="{{ imageUrl$ }}" alt="{{ product$.name }}">
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-content">
      <mat-card-title>{{ product$.name }}</mat-card-title>
      <mat-card-content>
        <p>{{ product$.composition }}</p>
        <p>{{ product$.weight }} {{ product$.large }}</p>
        <p>{{ product$.description }}</p>
        <p>
          <button (click)="removeUnit()" class="btn btn-manage-units btn-remove-unit">-</button>
          <input id="quant" type="text" class="selected-units text-center" value="{{ quantity }}">
          <button (click)="addUnit()" class="btn btn-manage-units btn-add-unit">+</button>
          <span class="prize"> {{ product$.prize }}€</span>
        </p>
      </mat-card-content>
      <mat-form-field>
        <mat-label>Color</mat-label>
        <mat-select>
          <mat-option (click)="selectImageUrl(color.image_url); actualColor(color)"
            *ngFor="let color of (colors$ | async)" value="{{ color.color }}">
            {{ color.color }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button *ngIf="authService.isAuthenticated()"
          (click)="shoppingCartService.addSkeinToCart(product$, this.color, quantity)">Comprar</button>
        <button mat-raised-button *ngIf="!authService.isAuthenticated()" routerLink="/login">Comprar</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>